.dictionaryApp {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid;
  border-radius: 10px;
  border-color: #eec2c2;
  padding: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);

  background-color: rgba(238, 194, 194, 0.4);
}
.dictionaryApp h1 {
  text-align: center;
  color: #d7acd4;

  font-size: 96px;
}
.dictionaryAppWrapper {
  max-width: 650px;
  margin: 30px auto;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.Dictionary {
  margin: 20px;
  text-align: center;
}
.Meaning {
  text-align: left;
}
.Definition h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
}

.partOfSpeech {
  font-weight: bold;
  text-transform: capitalize;
}

.Phonetics {
  text-align: left;
}

.first-color {
  background: #bae5d5;
}

.second-color {
  background: #d7acd4;
}

.third-color {
  background: #eec2c2;
}

.fourth-color {
  background: #f2f2b0;
}
.Dictionary section {
  background: rgba(238, 194, 194, 0.4);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.Example {
  font-size: 14px;
  opacity: 0.7;
  font-style: italic;
}
