.dictionaryApp {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid;
  border-radius: 10px;
  border-color: grey;
  padding: 10px;
  background-color: rgba(238, 194, 194, 0.4);
}
.dictionaryApp h1 {
  text-align: center;
  color: #d7acd4;

  font-size: 96px;
}
.dictionaryAppWrapper {
  max-width: 650px;
  margin: 30px auto;
}
.Dictionary {
  margin: 20px;
  text-align: center;
}
.Meaning {
  text-align: left;
}
.Definition h2 {
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
}

.partOfSpeech {
  font-weight: bold;
  text-transform: capitalize;
}

.first-color {
  background: #bae5d5;
}

.second-color {
  background: #d7acd4;
}

.third-color {
  background: #eec2c2;
}

.fourth-color {
  background: #f2f2b0;
}
